body {
    font-family: "Lucida Console", monospace;
    background-color: #487979;
    color: #3e8a8a;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

section {
    text-align: center;
}

.spelContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}

.cel {
    font-family: "Lucida Console", monospace;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #62a4a4;
    border: 1px solid #62a4a4;
    border-radius: 5%;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.spelHerstart {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #62a4a4 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  color: gainsboro;
  text-transform: uppercase;  
}

.spelHerstart:focus {
  box-shadow: #336a6a 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #336a6a 0 -3px 0 inset;
}

.spelHerstart:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #336a6a 0 -3px 0 inset;
  transform: translateY(-2px);
}

.spelHerstart:active {
  box-shadow: #336a6a 0 3px 7px inset;
  transform: translateY(2px);
}
